Source: pibootctl
Maintainer: Dave Jones <dave.jones@canonical.com>
Homepage: http://pibootctl.readthedocs.io/
Section: admin
Priority: optional
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python3-all,
 python3-yaml,
 python3-setuptools,
 python3-pkginfo,
 python3-pytest,
 python3-pytest-cov,
 python3-sphinx
Standards-Version: 3.9.7
Vcs-Git: https://github.com/waveform80/pibootctl.git
Vcs-Browser: https://github.com/waveform80/pibootctl
X-Python3-Version: >= 3.5

Package: pibootctl
Architecture: all
Section: admin
Depends: ${misc:Depends}, ${python3:Depends}, python3-yaml
Recommends: python3-argcomplete
Suggests: pibootctl-doc
Description: Query and manipulate the boot configuration of the Raspberry Pi.
 pibootctl is a utility for querying and manipulating the boot-loader
 configuration of the Raspberry Pi, i.e. config.txt and associated files on
 the boot partition.

Package: pibootctl-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Documentation for the pibootctl utility.
 pibootctl is a utility for querying and manipulating the boot-loader
 configuration of the Raspberry Pi, i.e. config.txt and associated files on
 the boot partition.
 .
 This is documentation for the utility.
